// ===== ЦВЕТА ГЛОБАЛЬНЫЕ =====
$main-bg: #f4f4f4;
$element-bg: #fdfdfd;
$extra-bg: #18003e;
$color-white: #ffffff;

// ===== ЦВЕТА ТЕКСТА =====
$text-title: #191919;
$text-input: #222222;
$text-description: #474747;
$footer-description: #8c8c8c;
$text-dark: #303030;

// ===== ЦВЕТА ССЫЛОК =====
$link-color: #5509cc;

// ===== ЦВЕТА ТЕНИ =====
$shadow-color: #6a63761a;

// ===== ЦВЕТА СКЕЛЕТОН =====
$skeleton-color: #f0f0f0;

// ===== ЦВЕТА ГРАНИЦ =====
$border-color: #bababa;
$border-color-active: rgb(85, 9, 204);
$border-input: rgba(106, 11, 255);
$border-input-hover: rgba(106, 11, 255, 0.5);
$border-color-input-filter: #e8e8e8;

// ===== РАЗМЕР ШРИФТОВ =====
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-34: 34px;
$font-size-40: 40px;
$font-size-60: 60px;

// ===== НАСТРОЙКИ ШРИФТА =====
$font-family: 'Manrope', sans-serif;

// font-weight
$font-weight-reg: 400;
$font-weight-med: 500;
$font-weight-sb: 600;
$font-weight-bold: 700;

// line-height
$line-height-115: 1.15;
$line-height-120: 1.2;
$line-height-127: 1.27;
$line-height-130: 1.3;

// font-stretch
$font-stretch-normal: 100%;
$font-stretch-condensed: 75%;
$font-stretch-expanded: 125%;

// ===== ОТСТУПЫ =====
$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 24px;

// ===== СКРУГЛЕНИЯ =====
$radius-s: 4px;
$radius-m: 8px;
$radius-xm: 12px;
$radius-l: 16px;
$radius-xl: 24px;
$radius-xxxl: 68px;

// ===== ЦВЕТА КНОПОК =====
$btn-primary-bg: #6a0bff;
$btn-primary-text: #ffffff;
$btn-active-bg: #f8f8f8;

// ===== ДОП ЦВЕТА =====
$background-skeleton: #D1D1D145;

  /* ==========================================================================
   ЗАГОЛОВКИ (Headlines)
   ========================================================================== */

  .head1 {
    font-size: var(--font-size-60);
    line-height: var(--line-height-115);
    text-transform: uppercase;
  }

  .head2 {
    font-size: var(--font-size-40);
    line-height: var(--line-height-115);
    text-transform: uppercase;
  }

  .head3 {
    font-size: var(--font-size-34);
    line-height: var(--line-height-115);
    text-transform: uppercase;
  }

  .head4 {
    font-size: var(--font-size-18);
    line-height: var(--line-height-127);
  }

  .head5 {
    font-size: var(--font-size-18);
    line-height: var(--line-height-127);
    text-transform: uppercase;
  }

  /* ==========================================================================
   ОСНОВНОЙ ТЕКСТ (Body)
   ========================================================================== */

  /* Body 1 */
  .body1 {
    font-size: var(--font-size-12);
    line-height: var(--line-height-120);
    font-weight: var(--font-weight-reg);
  }
  .body1-accent {
    font-size: var(--font-size-12);
    line-height: var(--line-height-120);
    font-weight: var(--font-weight-med);
  }

  /* Body 2 */
  .body2 {
    font-size: var(--font-size-14);
    line-height: var(--line-height-120);
    font-weight: var(--font-weight-reg);
  }
  .body2-accent {
    font-size: var(--font-size-14);
    line-height: var(--line-height-120);
    font-weight: var(--font-weight-med);
  }
  .body2-strong {
    font-size: var(--font-size-14);
    line-height: var(--line-height-120);
    font-weight: var(--font-weight-sb);
  }

  /* Body 3 */
  .body3 {
    font-size: var(--font-size-16);
    line-height: var(--line-height-120);
    font-weight: var(--font-weight-reg);
  }
  .body3-accent {
    font-size: var(--font-size-16);
    line-height: var(--line-height-130); /* В макете 130% */
    font-weight: var(--font-weight-med);
  }
  .body3-strong {
    font-size: var(--font-size-16);
    line-height: var(--line-height-130); /* В макете 130% */
    font-weight: var(--font-weight-sb);
  }

  /* Body 4 */
  .body4 {
    font-size: var(--font-size-18);
    line-height: var(--line-height-120);
    font-weight: var(--font-weight-sb);
  }

  /* Body 5 */
  .body5 {
    font-size: var(--font-size-20);
    line-height: var(--line-height-120);
    font-weight: var(--font-weight-reg);
  }
  .body5-capitalize {
    font-size: var(--font-size-20);
    line-height: var(--line-height-120);
    font-weight: var(--font-weight-med);
    text-transform: uppercase; /* Судя по тексту "BODY5" капсом */
  }
  .body5-accent {
    font-size: var(--font-size-20);
    line-height: var(--line-height-120);
    font-weight: var(--font-weight-med);
  }
  .body5-strong {
    font-size: var(--font-size-20);
    line-height: var(--line-height-120);
    font-weight: var(--font-weight-sb);
  }

  /* Body 6 */
  .body6 {
    font-size: var(--font-size-24);
    line-height: var(--line-height-120);
    font-weight: var(--font-weight-med);
  }