.wrapper {
    position: relative;
    width: 100%;
}

.hideButton {
    position: absolute;
    right: 12px;
    top: 2.5rem;
    transform: translateY(0%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hideIcon {
    opacity: 0.5;
}

.errorIcon {
    color: red;
}

